# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:1234/databasename?schema=public"

NEXTAUTH_SECRET=base64generatepultrasecrepassword
NEXTAUTH_URL=http://localhost:3000

GITHUB_ID=muchasletraas
GITHUB_SECRET=muchasletras

MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESSKEY=generaracceskey
MINIO_SECRETKEY=supersecreto